body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #111;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  text-align: center;
  font-size: 25px;
  vertical-align: center;
}
#header h1 {
  height: 100%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  overflow: hidden;
}
#header h1 strong {
  text-shadow: 1px 1px 0px #aaa,2px 2px 0px #aaa,3px 3px 0px #aaa,4px 4px 0px #aaa,5px 5px 0px #aaa,6px 6px 0px #aaa,7px 7px 0px #aaa,8px 8px 0px #aaa,9px 9px 0px #aaa,10px 10px 0px #aaa,11px 11px 0px #aaa,12px 12px 0px #aaa,13px 13px 0px #aaa,14px 14px 0px #aaa,15px 15px 0px #aaa,16px 16px 0px #aaa,17px 17px 0px #aaa,18px 18px 0px #aaa,19px 19px 0px #aaa,20px 20px 0px #aaa,21px 21px 0px #aaa,22px 22px 0px #aaa,23px 23px 0px #aaa,24px 24px 0px #aaa,25px 25px 0px #aaa,26px 26px 0px #aaa,27px 27px 0px #aaa,28px 28px 0px #aaa,29px 29px 0px #aaa,30px 30px 0px #aaa,31px 31px 0px #aaa,32px 32px 0px #aaa,33px 33px 0px #aaa,34px 34px 0px #aaa,35px 35px 0px #aaa,36px 36px 0px #aaa,37px 37px 0px #aaa,38px 38px 0px #aaa,39px 39px 0px #aaa,40px 40px 0px #aaa,41px 41px 0px #aaa,42px 42px 0px #aaa,43px 43px 0px #aaa,44px 44px 0px #aaa,45px 45px 0px #aaa,46px 46px 0px #aaa,47px 47px 0px #aaa,48px 48px 0px #aaa,49px 49px 0px #aaa,50px 50px 0px #aaa,51px 51px 0px #aaa,52px 52px 0px #aaa,53px 53px 0px #aaa,54px 54px 0px #aaa,55px 55px 0px #aaa,56px 56px 0px #aaa,57px 57px 0px #aaa,58px 58px 0px #aaa,60px 60px 0px #aaa;
}
#header h1 span {
  font-size: 46px;
  margin: 0 80px;
}

.icon {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 0.5s ease-in-out;
}
.icon.iconShow {
  display: block;
}
.icon span {
  color: #fff;
  position: absolute;
}
.icon span:nth-child(1) {
  font-size: 75px;
  top: 100px;
  left: 13%;
}
.icon span:nth-child(2) {
  font-size: 45px;
  top: 203px;
  right: 27%;
}
.icon span:nth-child(3) {
  font-size: 50px;
  top: 705px;
  left: 5%;
}
.icon span:nth-child(4) {
  font-size: 57px;
  top: 606px;
  right: 9%;
}
.icon span:nth-child(5) {
  font-size: 30px;
  top: 38px;
  left: 59%;
}

#main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.corona {
  width: 1200px;
  height: 600px;
  margin: 100px auto 0;
  background-color: #000;
}

.calendarBox input[type=text] {
  background-color: #ddd;
  border-radius: 17px;
  width: 297px;
  height: 30px;
  right: 22px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border: none;
}
.calendarBox input[type=text]:focus {
  outline: none;
  border: none;
}
.calendarBox #txtCalendar {
  position: absolute;
  top: 132px;
}
.calendarBox .calendar {
  position: absolute;
  top: 19%;
  right: 20px;
  width: 265px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  display: none;
}
.calendarBox .calendar.show {
  display: block;
}
.calendarBox .calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendarBox .calendar .header button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.calendarBox .calendar .header .month {
  font-weight: 700;
}
.calendarBox .calendar .days {
  margin: 10px 0;
  text-transform: uppercase;
}
.calendarBox .calendar .days .sun span {
  background-color: #c20000;
}
.calendarBox .calendar .days .sat span {
  background-color: #0000c2;
}
.calendarBox .calendar .dates li {
  cursor: pointer;
}
.calendarBox .calendar .days ul,
.calendarBox .calendar .dates ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
}
.calendarBox .calendar .days ul li,
.calendarBox .calendar .dates ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(14.2857142857% - 6px);
  position: relative;
  margin: 3px;
}
.calendarBox .calendar .days ul li.today span,
.calendarBox .calendar .dates ul li.today span {
  background-color: green;
  font-weight: 700;
  overflow: hidden;
  text-shadow: 1px 1px 0px #004300,2px 2px 0px #004300,3px 3px 0px #004300,4px 4px 0px #004300,5px 5px 0px #004300,6px 6px 0px #004300,7px 7px 0px #004300,8px 8px 0px #004300,9px 9px 0px #004300,10px 10px 0px #004300,11px 11px 0px #004300,12px 12px 0px #004300,13px 13px 0px #004300,14px 14px 0px #004300,15px 15px 0px #004300,16px 16px 0px #004300,17px 17px 0px #004300,18px 18px 0px #004300,19px 19px 0px #004300,20px 20px 0px #004300,21px 21px 0px #004300,22px 22px 0px #004300,23px 23px 0px #004300,24px 24px 0px #004300,25px 25px 0px #004300,26px 26px 0px #004300,27px 27px 0px #004300,28px 28px 0px #004300,30px 30px 0px #004300;
}
.calendarBox .calendar .days ul li.select span,
.calendarBox .calendar .dates ul li.select span {
  background-color: orange;
  color: #fff;
  font-weight: 700;
  border: 2px solid #664200;
  overflow: hidden;
  text-shadow: 1px 1px 0px brown,2px 2px 0px brown,3px 3px 0px brown,4px 4px 0px brown,5px 5px 0px brown,6px 6px 0px brown,7px 7px 0px brown,8px 8px 0px brown,9px 9px 0px brown,10px 10px 0px brown,11px 11px 0px brown,12px 12px 0px brown,13px 13px 0px brown,14px 14px 0px brown,15px 15px 0px brown,16px 16px 0px brown,17px 17px 0px brown,18px 18px 0px brown,19px 19px 0px brown,20px 20px 0px brown,21px 21px 0px brown,22px 22px 0px brown,23px 23px 0px brown,24px 24px 0px brown,25px 25px 0px brown,26px 26px 0px brown,27px 27px 0px brown,28px 28px 0px brown,30px 30px 0px brown;
}
.calendarBox .calendar .days ul li.blank span,
.calendarBox .calendar .dates ul li.blank span {
  background-color: transparent;
  pointer-events: none;
}
.calendarBox .calendar .days ul li:before,
.calendarBox .calendar .dates ul li:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.calendarBox .calendar .days ul li span,
.calendarBox .calendar .dates ul li span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  line-height: 1.25;
}