@import "vars";
@import "mixin";
.subVisual {
  height: 690px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  .titleBox {
    color: #fff;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 220px;
    .subTitle {
      font-size: $font-large;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}

#contact {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  font-size: 18px;
  caret-color: orange;
  .contents {
    padding: 180px 0;
    display: flex;
    flex-direction: column;
    .inquiry {
      display: flex;
      flex-direction: column;
      width: 800px;
      margin-top: 40px;
      margin-bottom: 30px;
      .h3 {
        font-size: 36px;
        display: flex;
        font-weight: 700;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
      }
      .agree {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .grey {
          color: #999;
        }
        span {
          font-weight: 500;
        }
      }
      .txt {
        line-height: 1.5;
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: 16px;
        background-color: #fbfbfb;
        color: #999;
        font-weight: 300;
        padding-left: 20px;
        .bold {
          color: #000;
          font-weight: 500;
          margin: 14px 0;
        }
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      width: 800px;
      ::placeholder {
        font-size: 18px;
      }
      .label {
        margin-bottom: 20px;
        .select {
          width: 100%;
        }
        dd {
          display: flex;
          width: 100%;
          input {
            height: 50px;
            outline: none;
            border: none;
            border-bottom: 1px solid #ccc;
            &:focus {
              border-bottom: 1px solid orange;
              transition: all 0.25s ease-in-out;
            }
          }

          .text {
            color: #aaa;
            width: 100%;
          }
          .w50 {
            width: calc(50% - 10px);
            margin-right: 10px;
          }
        }
        .textarea {
          width: 100%;
          textarea {
            width: calc(100% - 20px);
            height: 400px;
            outline: none;
            font-family: inherit;
            padding: 20px 0 0 20px;
            resize: none;
            &:focus {
              border: 1px solid orange;
              transition: all 0.25s ease-in-out;
            }
          }
        }
      }
      #fileBox {
        width: 100%;
        p {
          color: #999;
          font-size: 12px;
        }
        .fileBox {
          width: 100%;
          display: flex;
          label {
            width: 150px;
            height: 50px;
            background-color: #ffff;
            border-radius: 5px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            margin-left: 10px;
            cursor: pointer;
          }
          input[type="file"] {
            width: 0;
            height: 0;
            position: absolute;
            padding: 0;
            overflow: hidden;
            border: none;
          }
          input[type="text"] {
            width: 100%;
            height: 50px;
            padding: 0 15px;
            outline: none;
            border: none;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            &:focus {
              border-bottom: 1px solid orange;
              transition: all 0.25s ease-in-out;
            }
          }
        }
      }
      .label {
        display: flex;
        width: 100%;
        .left {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-right: 10px;
          margin-top: 10px;
          p {
            font-size: 12px;
            color: #999;
          }
          select {
            outline: none;
            border: none;
            border-bottom: 1px solid #ccc;
            width: 100%;
            height: 50px;
          }
        }
      }
      .floor {
        color: #999;
        font-size: 14px;
        p {
          margin-top: 20px;
          margin-bottom: 7px;
          &:before {
            content: "·";
            display: inline-block;
            position: relative;
            font-size: inherit;
            color: inherit;
            margin-right: 8px;
          }
        }
      }
      .button {
        margin-top: 80px;
        margin-bottom: 70px;
        border-radius: 5px;
        height: 80px;
        font-weight: 700;
        background-color: #000;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.subContents {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  h3 {
    font-size: 30px;
    font-weight: 700;
    width: 50%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
  }
  .contents {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 200px;
    .container {
      line-height: 1.8;
      span {
        font-size: 20px;
        font-weight: 700;
      }
      button {
        border: 1px solid #999;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 16px;
        margin: 25px 0 40px 0;
        font-weight: 700;
      }
      p {
        color: #999;
      }
    }
  }
}

.contents02 {
  width: 80%;
  margin: 0 auto 300px auto;

  .traffic {
    .con1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 100px;
      position: relative;
      &:after {
        content: "";
        width: 43%;
        height: 1px;
        background-color: #ddd;
        display: block;
        position: absolute;
        bottom: -90px;
      }
    }
    .con2 {
      display: flex;
      line-height: 2;
      font-size: 18px;
      .txt {
        width: 50%;
        .subway {
          margin: 60px 0;
          position: relative;
          &:after {
            content: "";
            width: 85%;
            height: 1px;
            background-color: #ddd;
            display: block;
            position: absolute;
            bottom: -40px;
          }
        }
        .bus {
          margin: 60px 0;
          position: relative;
          &:after {
            content: "";
            width: 85%;
            height: 1px;
            background-color: #ddd;
            display: block;
            position: absolute;
            bottom: -60px;
          }
          .dot {
            position: relative;
            margin-left: 25px;
            &:before {
              content: "";
              width: 5px;
              height: 5px;
              background-color: rgb(0, 0, 0);
              display: block;
              position: absolute;
              left: -20px;
              top: 12px;
            }
          }
        }
        span {
          font-size: 24px;
          font-weight: 700;
          bottom: 50px;
        }
        .LF {
          margin-top: 170px;
          font-size: 24px;
          font-weight: 700;
          line-height: 2;
          .orange {
            color: darken(orange, 5);
          }
        }
      }
      img {
        width: 50%;
      }
    }
  }
}

#about {
  .subVisual {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    background: {
      repeat: no-repeat;
      size: cover;
      image: url("../images/contents/bg_company_intro.jpg");
    }
    .titleBox {
      color: #fff;
      line-height: 1.5;
      margin-top: 20px;
      margin-left: 0;
      .subTitle {
        font-size: $font-large - 10px;
        font-weight: 700;
      }
    }
  }
  .combi {
    .contents {
      width: 100%;
      background-color: #000;
      height: 100vh;
      padding: 200px auto;
      .b2ctxt {
        color: #fff;
        display: flex;
        justify-content: space-around;
        border: 1px solid #fff;
        .B2C {
          span {
            font-size: 64px;
            font-weight: 700;
          }
        }
        .text {
          strong {
            font-weight: 700;
            font-size: 20px;
          }
          > p {
            margin-bottom: 80px;
            line-height: 2;
          }
        }
      }
    }
  }
}

#location {
  .subVisual {
    height: 690px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: {
      repeat: no-repeat;
      size: cover;
      image: url("../images/contents/subvisual04.jpg");
    }
    .titleBox {
      color: #fff;
      line-height: 1.5;
      margin-top: 50px;
      margin-left: 220px;
      .subTitle {
        font-size: $font-large;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.overlay {
  background-color: $main-color;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  overflow: hidden;
  @include longShadow(darken($main-color, 10), 60);
  .adderss {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: $main-color;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -20px;
  }
}
